@font-face {
    font-family: 'Merriweather Sans';
    src: url('./MerriweatherSans-Italic-VariableFont_wght.ttf')
}

.home {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home img {
    height: 30vh;
}

.home .caption {
    align-self: flex-end;
    font-weight: bold;
    font-size: 2.5em;
}